# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build/
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/cmake.db
/.vs/launch.vs.json
/.vs/molten-engine/FileContentIndex/6b0b9bfa-cb01-4a1e-98c8-5abd46a6e686.vsidx
/.vs/molten-engine/FileContentIndex/92777d2d-a43e-402c-b196-7b3447fff6b5.vsidx
/.vs/molten-engine/FileContentIndex/ab56bdae-1ad2-4fb8-944d-9e65fabfdbbc.vsidx
/.vs/molten-engine/FileContentIndex/d9d393b1-21a8-43dd-8edf-a54b2381cbae.vsidx
/.vs/molten-engine/FileContentIndex/f7eb447a-8997-417c-81bf-5fd36e2e6043.vsidx
/.vs/molten-engine/v17/.wsuo
/.vs/molten-engine/v17/Browse.VC.db
/.vs/molten-engine/v17/Browse.VC.db-shm
/.vs/molten-engine/v17/Browse.VC.db-wal
/.vs/molten-engine/v17/Browse.VC.opendb
/.vs/molten-engine/v17/DocumentLayout.json
/.vs/molten-engine/v17/Solution.VC.db
/.vs/molten-engine/v17/ipch/AutoPCH/1760b86194e9008f/ASSET.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/186c4a96ddd57b08/ASSET_MANAGER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/23d003d30f489908/TRANSFORM_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/24128feec1ffe4e1/MAIN.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/252bf1ca8269016f/MATERIAL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/339fcd9f33a3d61b/MAIN.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/3979079412096f41/NODE_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/3b04a70f307f5411/TRANSFORM_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/3e406c85c4a57242/DEFERRED_VOXEL_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/40cb013c0672482f/ASSET_MANAGER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/411104f72d97138f/MATERIAL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/4143da6efd89cce2/DEFERRED_VOXEL_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/4649e2e2fbdd297e/GPU_RESOURCES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/4be77fafd9ad1293/IMAGE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/500e6db281b382dd/SHAPES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/51b060ac4590d367/MAIN.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/540e381a341afa38/MATERIAL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/56bd6ddc9efe9091/ENGINE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/5d371c957fefca76/MESH.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/5ee7a318c7baf38c/MESH.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/607d2c0d5febee8b/SCENE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/608fed5e8b5b691d/ENGINE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/6c1112fe854479a5/RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/6dc4ead632a7b709/NODE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/6ffeebf038e332e8/IMAGE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/7289170d2698c2ca/SHADER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/7ca33db29fb8f1b2/MATERIAL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/80cb6ee4e1621e8d/MESH_INSTANCE_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/83782d501877b9b0/ENGINE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/884d8db0babb2cbf/SDL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/8b4725f71da4ed78/GPU_PIPELINE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/8b784f3ae8bd348/SPRITE_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/95ee3d1fdcafac87/SHADER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/9a25e23cbb41c57d/GPU_RESOURCES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/9b89f475f4a5d1cb/VK_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/9bc6645237f9af59/DEFERRED_VOXEL_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/a46d202c92bbd0ba/RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/aa73c632e874dd91/SDL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/af48463e2ac6f56d/MAIN.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/b02c8d5687841a1b/CORE_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/b3251d5165a2ec46/SPRITE_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/b7658300b63165/SHAPES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/b9f55556ad38b7a5/CORE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/bccac230349d9b52/GPU_RESOURCES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/c13df5c5f2fe7677/RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/c53fc29676e5f7bb/MATERIAL.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/c5f7d6b0df43c631/IMAGE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/c9e5b02074fea84a/SPRITE_3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/cce28f394b2682d8/ENGINE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/cf2752c345105905/NODE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/d28ef22721bd74f7/SHAPES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/daa0eaff1f5fd72b/GL_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/dc69cd1d3986b9b7/SPRITE3D.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/dd8794ba3ff4ad43/DEFERRED_VOXEL_RENDERER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/ddf1a20925c151e4/SHAPES.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/debbfe65130de36f/ASSET_MANAGER.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/e7b0e988a496f82e/IMAGE.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/ec13dc8e8c528b99/MAIN.ipch
/.vs/molten-engine/v17/ipch/AutoPCH/fe553a4f559baf1d/GLM_ELEMENT_TRAITS.ipch
/.vs/molten-engine/v17/workspaceFileList.bin
/.vs/slnx.sqlite
